@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<waddle.Models.Student>

<div>
    <a asp-controller="Student" asp-action="Create" class="btn btn-primary">Create</a>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.StudentName</td>
                <td>@student.StudentEmail</td>
                <td>@student.StudentPhone</td>
            </tr>
        }
    </tbody>
</table>